<!--
  Generated template for the DadosPessoaisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Dados Pessoais</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="background">
<div class='conteudo'>
    <p class="pageTitle">Dados Pessoais</p>

  <!-- Label -->
  <p class="text">Nome</p>
  <!-- Input de Valor -->
  <ion-item class="inputEmail">        
      <ion-label><ion-icon name="md-person"></ion-icon></ion-label>
      <ion-input type="text" value="{{name}}" disabled></ion-input>
      <ion-icon name="md-create"></ion-icon>
  </ion-item>

  <!-- Label -->
  <p class="text">CPF</p>
  <!-- Input de Valor -->
  <ion-item class="inputEmail">        
      <ion-label><ion-icon name="md-checkmark"></ion-icon></ion-label>
      <ion-input type="text" value="{{cpf}}" disabled></ion-input>
  </ion-item>

  <!-- Label -->
  <p class="text">Telefone</p>
  <!-- Input de Valor -->
  <ion-item class="inputEmail">        
      <ion-label><ion-icon name="md-call"></ion-icon></ion-label>
      <ion-input type="text" value="{{phone}}" disabled></ion-input>
  </ion-item>

  <!-- Label -->
  <p class="text">E-mail</p>
  <!-- Input de Valor -->
  <ion-item class="inputEmail">        
      <ion-label><ion-icon name="md-mail"></ion-icon></ion-label>
      <ion-input type="text" value="{{email}}" disabled></ion-input>
  </ion-item>

  <!-- Label -->
  <p class="text">Senha</p>
  <!-- Input de Valor -->
  <ion-item class="inputEmail marginBottom15">        
      <ion-label><ion-icon name="md-lock"></ion-icon></ion-label>
      <ion-input type="password" value="senha1234" disabled></ion-input>
  </ion-item>
</div>
</ion-content>
