page-dados-pessoais {
    .pageTitle {
        margin-top: 0%;
        color: white;
        font-size: 23px;
    }
    
    .text {
        color: white;
        font-family: 'Rubik', sans-serif;
        margin-bottom: 1%;
    }

    .textTwo {
        margin-top: 10%;
        color: white;
        font-family: 'Rubik', sans-serif;
    }

    .inputEmail {
        color: white;
        background-color: #2e2c2c!important;
        border-color: transparent!important;
        font-size: 130%!important;
        font-family: 'Rubik', sans-serif!important;
        border-radius: 10px!important;
        margin-bottom: 6%;
    }

    .item-block .item-inner {
        border-bottom: 0px!important;
    }

    .textDivider {
        text-align: center;
        font-family: 'Rubik', sans-serif;
        color: #858585;
        margin-top: -1%;
    }

    .addCard {
        color: #ff7700;
        font-family: 'Rubik', sans-serif;
        text-align: center;
        font-size: 18px;
    }

    .deleteAccount {
        color: #ff7700;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        margin-left: 37%;
    }

    .marginBottom15 {
        margin-bottom: 12%;
    }
}
