page-politicas {
    .username {
        margin-top: 3%;
        color: whitesmoke;
        font-family: 'Rubik', sans-serif;
    }

    .marginTopAuto {
        margin-top: auto;
    }

    .marginLeftLess111 {
        margin-left: -111%;
    }

    .usericon {
        float: left;
    }

    .options {
        background-color: #343232;
        padding: 6%;
        text-align: left;
        color: white;
        font-size: 18px;
        margin-bottom: -8%;
        font-family: 'Rubik', sans-serif;
    }

    .marginBottom {
        margin-bottom: 6%;
    }

    a {
        color: #ff7700;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;  
        margin-top: 14%;
    position: absolute;      
    }

    .arrow {
        color: #ff7700;
        margin-top: 3px;
        float: right;
    }

    .marginLeft51 {
        margin-left: 51%!important;
    }

    .marginLeft39 {
        margin-left: 39%!important;
        
    }

    .ios-content .marginLeft39 {
        margin-left: 38%!important;
    }

    .marginLeft30 {
        margin-left: 30%!important;
    }

    .ios-content .marginLeft30 {
        margin-left: 28%!important;
    }
}
