<!--
  Generated template for the PoliticasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Políticas e Termo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="background">
  <!-- Opções -->
  <div (click)="privacidade()" class="options">Política de Privacidade <ion-icon class="arrow" name="arrow-forward"></ion-icon></div>
  <!-- Opções -->
  <div (click)="uso()" class="options">Termos de Uso  <ion-icon class="arrow" name="arrow-forward"></ion-icon></div>
  <!-- Opções -->
  <div (click)="troca()" class="options">Política de Troca  <ion-icon class="arrow" name="arrow-forward"></ion-icon></div>
</ion-content>
