<!--
  Generated template for the EventosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title class="pageTitle">Eventos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="background">
<div class='conteudo'>
  <div *ngIf="eventPart === false">
  
    <ion-row>
        <ion-col>
            <img class="imgCenter" src="{{eventObj.imgLarge}}"/>
          <!-- <p class="text">Valor por pessoa:</p> -->
        </ion-col>
      </ion-row>
  
  
  <p class="text"><ion-icon class="littleIcon" name="pricetag"></ion-icon>&nbsp;&nbsp; Descrição:</p>
  <p class="subText">
    {{eventObj.descricao}}
  </p>

  <p class="text marginTop1"><ion-icon class="littleIcon" name="calendar"></ion-icon>&nbsp;&nbsp; Data do evento:</p>
  <p class="subText">{{eventObj.dataEvento}} | {{eventObj.horaEvento}}</p>

  <p class="text marginTop1"><ion-icon class="littleIcon" name="pin"></ion-icon>&nbsp;&nbsp; Local:</p>
  <p class="subText">
      {{eventObj.lugar}}<br/>
      {{eventObj.endereco}}
  </p>
  
  <p class="text marginTop1"><ion-icon class="littleIcon" name="cash"></ion-icon>&nbsp;&nbsp; Valor por pessoa:</p>
  <p class="subText">
      R$ {{eventObj.valor}}
    </p>
    
  <button (click)="buyEvent()" class="btn btn-orange-desc bounceIn animation-delay3">C O M P R A R</button>
</div>  

<div *ngIf="eventPart === true">
  <ion-row>
      <ion-col>
          <img class="imgCenter" src="{{eventObj.imagem}}"/>
        <p class="text">Valor total:</p>
      </ion-col>
    </ion-row>


<!-- <p class="imgTitle">{{eventObj.titulo}}</p>
<p class="textSecondPage">Valor por pessoa:</p>
 -->
<ion-item class="inputEmail moneyInput">        
    <ion-label class="moneySymbol">R$</ion-label>
    <ion-input (blur)="blurValor()" type="tel" [brmasker]="{money: true}" [(ngModel)]="varFinal" disabled></ion-input>
</ion-item>
<p class="errorMsg valor" >Preencha o campo de Valor</p>

<p class="amtText">Quantidade</p>
<ion-row>
  <ion-col col3>
    <ion-icon (click)="lessTicket()" class="littleIcon" name="remove-circle"></ion-icon>
  </ion-col>
  <ion-col col3>
    <a class="colorWhite"><ion-input class="qtdNumber" type="tel" [(ngModel)]="quantidade" disabled></ion-input></a>
  </ion-col>
  <ion-col col3>
    <ion-icon (click)="plusTicket()" class="littleIcon marginLeftLess163" name="add-circle"></ion-icon>
  </ion-col>
</ion-row>

<a class="textTwo">Método de pagamento</a><ion-icon (click)="showToastWithCloseButton()" class="infoIcon" ios="ios-information-circle-outline" md="md-information-circle"></ion-icon>
<div *ngIf="1 === 1"> 
  <ion-item class="inputEmail cardInput">
      <ion-label><ion-icon name="card"></ion-icon></ion-label>
      <ion-select [(ngModel)]="codCard" interface="action-sheet">
        <ion-option [value]="0" selected="true">Selecione</ion-option>
        <ion-option *ngFor="let card of cards" [value]="card.codCartao">xxxx-xxxx-{{card.ultimosDigitos}}</ion-option>
      </ion-select>
    </ion-item>
    <p class="errorMsg comboCartao" >Selecione um cartão para prosseguir</p>

    <p class="textDivider">ou</p>
  </div>  
  <p (click)="cadastrarCartao()" class="addCard">+ Adicione um novo cartão</p>

  <button (click)="backEventDescription()" class="btn btn-back btn-orange">V O L T A R</button>
<button (click)="doConfirm(value, codCard, quantidade)" class="btn btn-orange">P R O S S E G U I R</button>
</div>
</div>
</ion-content>
