page-eventos {

    .titleImg {
        max-width: 135%;
        height: -118%;
        margin-top: -5%;
        margin-left: -5%;  
    }

    .infoIcon {
        color: white;
        margin-left: 1.5%;
        margin-top: -1%;
        margin-bottom: 2%;
        font-size: 26px;
        float: left;
    }

    .colorWhite {
        color: white;
    }

    .qtdNumber {
        margin-left: -81%;
        margin-top: -7.5%;
        font-size: 140%;
        margin-bottom: 10%;
    }

    .amtText {
        color: white;
        font-weight: 700;
        font-family: 'Rubik', sans-serif;
    }

    .text {
        color: white;
        font-weight: 700;
        font-family: 'Rubik', sans-serif;
    }

    .marginLeftLess163 {
        margin-left: -163%;
    }

    .textSecondPage {
        color: white;
        margin-top: 45%;
        font-weight: 700;
        font-family: 'Rubik', sans-serif;
    }

    .textTwo {
        color: white;
        font-family: 'Rubik', sans-serif;
        float: left;
    }

    .inputEmail {
        color: white;
        background-color: #2e2c2c!important;
        font-size: 130%!important;
        font-family: 'Rubik', sans-serif!important;
        border-radius: 10px!important;
        margin-bottom: 6%;
    }

    .item-block .item-inner {
        border-bottom: 0px!important;
    }

    .textDivider {
        text-align: center;
        font-family: 'Rubik', sans-serif;
        color: #858585;
        margin-top: -1%;
        margin-bottom: -3%;
    }

    .addCard {
        color: #ff7700;
        font-family: 'Rubik', sans-serif;
        text-align: center;
        font-size: 18px;
        margin-top: 6%;
    }

    .btn-back {
        background-color: transparent!important;
        float: left!important;
    }

    .btn-orange {
        background-color: #ff7700;
        color: white;
        width: 50%;
        /* margin-left: 20%; */
        border-radius: 90px;
        padding: 4%;
        font-family: 'Rubik', sans-serif;
        margin-top: 3%;
        float: right;
    }

    .btn-orange-desc {
        background-color: #ff7700;
        color: white;
        width: 50%;
        margin-left: 25%;
        border-radius: 90px;
        padding: 4%;
        font-family: 'Rubik', sans-serif;
        margin-top: 3%;
    }

    ion-label {
        -webkit-flex: none!important; 
        flex: none!important; 
    }

    .moneySymbol {
        color: #ff7700!important;
    }

    .imgTitle {
        color: white;
        text-align: center;
        font-size: 61px;
        margin-top: -64%;
        font-family: 'Poppins', sans-serif;
        text-shadow: 2px 2px 27px black;
    }

    ion-select {
        max-width: 100%!important;
    }
    ion-icon {
        font-size: 30px;
    }

    .errorMsg {
        color: indianred;
        margin-top: -12px;
        display: none;
    }

    .marginTop1 {
        margin-top: 1%!important;
    }
    
    .subText {
        // margin-top: -4%;
        color: lightgray;
        text-align: justify;
        margin-left: 32px;
    }

    .littleIcon {
        font-size: 25px;
        color: white;
    }

    .center {
        text-align: center;
        // margin-top: 40%;
    }

    .centerO {
        text-align: center;
    }

    .ion-md-add-circle:before {
        font-size: x-large;
        margin-left: 25%;
    }

    .ion-ios-add-circle:before {
        font-size: x-large;
        margin-left: 25%;
    }

    .ion-md-remove-circle:before {
        font-size: x-large;
        margin-left: 25%;
    }

    .ion-ios-remove-circle:before {
        font-size: x-large;
        margin-left: 25%;
    }

    .titleBanner {
        text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-shadow: 5px 2px 12px black;
    }
}
