page-inicio {

    @media all and (max-width: 420px)
    {
        .userIcon{
            display: block;
            font-size: 1em;
        }
        .userIconName{
            display: block;
            font-size: 1em;
        }
    }


    @media all and (min-width: 421px) and (max-width: 699px)
    {
        .userIcon{
            display: block;
            font-size: 2em;
        }
        .userIconName{
            display: block;
            font-size: 2em;
        }
    }

    @media all and (min-width: 700px) and ( max-width: 899px)
    {
        .userIcon{
            display: block;
            font-size: 3em;
        }
        .userIconName{
            display: block;
            font-size: 3em;
        }
    }

    @media all and (min-width: 900px)
    {
        .userIcon{
            display: block;
            font-size: 4em;
        }

        .userIconName{
            display: block;
            font-size: 4em;
        }
    }


    .userIconName{
        display: block;
        text-align: center;
    }

    .userIconName::before{
        display: block;
        margin-left: 0 !important;
        margin-top: 0 !important;
    }

    .userIconName::before{
        display: block;
        position: inherit !important;
    }




    .userIcon{
        text-align: center;
    }

    .userIcon::before{
        margin-left: 0 !important;
        margin-top: 0 !important;
    }

    .tituloTopo{
        padding: 0 !important;
    }

    .userIcon::before{
        position: inherit !important;
    }

    .row16 {
        padding-bottom: 2%;
    }

    .marginTop13 {
        margin-top: 13%!important;
    }

    //Botão da que fica dentro das imagens dos banners
    .btnBanner {
        border-radius: 20px;
        color: white;
        padding: 1% 5% 1% 5%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0.8;
        margin: 0 auto;
        display: block;
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
    }

    //titulo que fica dentro das imagens dos banners

    .mediumText {
        text-align: center;
        position: absolute;
        width: 93%;
        margin-top: -33%;
        color: white;
        font-size: 45px;
        font-family: 'Poppins', sans-serif;
        text-shadow: 2px 2px 13px black;
    }

    .smallText {
        text-align: center;
        position: absolute;
        width: 93%;
        margin-top: -27%;
        color: white;
        font-size: 45px;
        font-family: 'Poppins', sans-serif;
        text-shadow: 2px 2px 13px black;
    }



    .toolbar-md .ion-md-contact:before {
        margin-left: 330px;
        position: absolute;
        margin-top: -22px;      
    }

    .thumb-img {
        padding: 10px;
    }

    .nameUser {
        color: white;
        float: right;
        font-size: 13px;
        font-family: 'Rubik', sans-serif;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
    }
    
    .toolbar-title-md {
         margin: 0 auto;    
    }

    .toolbar-md ion-title {
        margin: 0 auto;    
    }

    .titleBanner {
        margin-top: -47%;
        text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-shadow: 5px 2px 12px black;
    }
}

.back-button-text-ios {
    display: none!important;
}

.back-button-icon-md {
    color: white!important;
}

.imgCenter{
    display: block;
    margin: 0 auto;
    // width: 50%;
}

.tam50{
    width:50%;
}

.conteudo{
    margin: 0 auto;
    max-width: 1024px;
}

