<ion-header>
  <ion-navbar>  
      <ion-row>
          <ion-col col-10>
              <ion-title class="tituloTopo">
                <img class="imgCenter tam50" src="assets/imgs/logo-ibm.png"/>
              </ion-title>
          </ion-col>
          <ion-col col-2>
              <ion-icon *ngIf="teste === false" class="userIcon" (click)="login()" name="md-contact"></ion-icon>
              <ion-icon *ngIf="teste === true" class="userIconName" (click)="parabens()" name="md-contact"></ion-icon>
              <span *ngIf="teste === true" (click)="parabens()" class="nameUser">{{name}}</span>
          </ion-col>
      </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding id="background" >  
  <div class='conteudo' >
      <!-- <ion-row>
          <ion-col col-6>
              <img class="imgMissoes imgCenter" src="assets/imgs/testeRed.JPG"/>
          </ion-col>
          <ion-col col-6>
              <img class="imgMissoes imgCenter" src="assets/imgs/testeRed.JPG"/>
          </ion-col>
          <ion-col col-6>
              <img class="imgMissoes imgCenter" src="assets/imgs/testeRed.JPG"/>
          </ion-col>
          <ion-col col-6>
              <img class="imgMissoes imgCenter" src="assets/imgs/testeRed.JPG"/>
          </ion-col>
          <ion-col col-6>
              <img class="imgMissoes imgCenter" src="assets/imgs/testeRed.JPG"/>
          </ion-col>
          <ion-col col-6>
              <img class="imgMissoes imgCenter" src="assets/imgs/testeRed.JPG"/>
          </ion-col>
      </ion-row> -->
     <ion-row>
      <ion-col *ngFor="let eventos of list" (click)="evento(eventos)" col-6>
          <img class="imgMissoes imgCenter" src="{{eventos.imagem}}"/>
      </ion-col>
    </ion-row> 




  <!-- <ion-row class="row16">
    <ion-col col-6>
      <img class='imgCenter' (click)="doe()" src="assets/imgs/file.jpeg"/>
    </ion-col>
    <ion-col col-6>
      <img (click)="missoes()" class="imgMissoes imgCenter" src="assets/imgs/w8.jpeg"/>
    </ion-col>
    <ion-col col-6>
      <img (click)="cristolandia()" class="imgMissoes imgCenter" src="assets/imgs/w10.jpeg"/>
    </ion-col>
    <ion-col col-6>
      <img (click)="zonasul()" class="imgMissoes imgCenter" src="assets/imgs/w11.jpeg"/>
    </ion-col>
    <ion-col col-6>
      <img (click)="gentegrande()" class="imgMissoes imgCenter" src="assets/imgs/w12.jpeg"/>
    </ion-col>
    <ion-col col-6>
      <img (click)="igrejasdosul()" class="imgMissoes imgCenter" src="assets/imgs/w13.jpeg"/>
    </ion-col>
  </ion-row> -->

  <!-- <ion-row class="row16">
      <ion-col *ngFor="let eventos of list" (click)="evento(eventos)" col-12>
        <img class="imgMissoes imgCenter" src="{{eventos.imagem}}"/>
      </ion-col>
  </ion-row> -->
  </div>
</ion-content>

