<!--
  Generated template for the PrivacidadePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Política de Privacidade</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="background">
    <div class="container"> <div class="row" style="margin: 0"> <div class="col-xs-12"> <h2 style="margin:30px 0 40px">POLÍTICA DE PRIVACIDADE ISYBUY</h2> <p>Ultima atualização em: 24/03/2016</p><br><br> <p style="text-align:justify;">Por este instrumento eletrônico, ISYBUY DESENVOLVIMENTO DE SOFTWARE LTDA., com sede na com sede na Rua Arminda, nº 93, Bairro Vl. Olímpia, Cidade de São Paulo, Estado de São Paulo, inscrita no Cadastro Nacional da Pessoa Jurídica do Ministério da Fazenda (“CNPJ/MF”) sob o nº 21.518.367-0001-71, doravante denominada isyBuy, informa a sua POLÍTICA DE PRIVACIDADE, conforme as disposições abaixo discriminadas:</p> <br> <h4 style="margin:30px 0 40px">NOÇÕES GERAIS:</h4> <p style="text-align:justify;">Este instrumento traz a política de privacidade dos serviços prestados pela isyBuy, mostrando a forma como os dados e informações pessoais de cada USUÁRIO serão administrados pela isyBuy.</p> <p style="text-align:justify;">A isyBuy obtém informações dos USUÁRIOS de duas maneiras: cadastros, que são realizados pelos próprios usuários, e coletas automatizadas de informações, que podem ser feitas através de cookies, do próprio aplicativo isyBuy, do sistema operacional do aparelho ou da rede em que o aparelho está conectado.</p> <br> <h4 style="margin:30px 0 40px">CADASTRO – INFORMAÇÕES E DADOS:</h4> <p style="text-align:justify;">A fim de se tornar USUÁRIO da isyBuy é necessário cadastrar-se e informar seus dados pessoais completos e exatos. A isyBuy poderá confirmar os dados pessoais informados e consultar entidades públicas, companhias especializadas ou bancos de dados, estando desde já expressamente autorizada. A informação que a isyBuy obtiver destas entidades será tratada de forma confidencial.</p> <p style="text-align:justify;">Com o objetivo de usufruir dos serviços da isyBuy é necessária a efetuação de cadastro, no qual haverá o fornecimento de alguns dados pessoais, os quais serão usados como forma de registro e controle pela isyBuy.</p> <p style="text-align:justify;">Poderão ser coletados os seguintes dados pessoais, cuja veracidade é de responsabilidade do USUÁRIO:</p> <ul> <li>NOME COMPLETO</li> <li>CPF</li> <li>DADOS DO CARTÃO DE CRÉDITO</li> <li>TELEFONE</li> <li>EMAIL</li> <li>DATA DE ANIVERSÁRIO</li> <li>ENDEREÇO</li> <li>SENHA</li> </ul> <p style="text-align:justify;">Cabe ao USUÁRIO manter suas informações e dados pessoais atualizados.</p> <p style="text-align:justify;">A isyBuy coleta e armazena automaticamente algumas informações sobre a atividade dos USUÁRIOS cadastrados e visitantes de seu aplicativo. Tais informações podem incluir referências ao comportamento do USUÁRIO no aplicativo, como as telas visitadas, o tempo gasto em cada uma, os botões que foram clicados e as buscas realizadas, o endereço IP, versões dos sistemas operacionais e softwares sendo usados, a geolocalização do aparelho, entre outras.</p> <br> <h4 style="margin:30px 0 40px">INFORMAÇÕES NÃO - PESSOAIS:</h4> <p style="text-align:justify;">A isyBuy considera o termo “informações e dados pessoais” para descrever informações que possam ser associadas a uma determinada pessoa e possam ser usadas para identificar essa pessoa - USUÁRO. A isyBuy não considera como informações pessoais as informações que foram geradas de forma anônima, de modo que não possa ser identificado um USUÁRIO específico (“Informações Não - Pessoais”).</p> <p style="text-align:justify;">A isyBuy obterá informações não-pessoais e poderá usar, transferir e divulgar informações não-pessoais para qualquer finalidade. São exemplos de dados não-pessoais, não se limitando a esses, idade, preferencias individuais, idioma, CEP e código de área.</p> <p style="text-align:justify;">A isyBuy também obterá informações sobre as atividades dos USUÁRIOS no aplicativo. Essas informações são agregadas e usadas para nos ajudar a fornecer informações abalizadas para os nossos clientes e entender quais partes de nossos serviços atraem mais interesse. Dados agregados são considerados informações não-pessoais para fins desta Política de Privacidade.</p> <br> <h4 style="margin:30px 0 40px">MARKETING:</h4> <p style="text-align:justify;">A isyBuy não vende e nem aluga “Informações Pessoais” e dados pessoais dos USÁRIOS para terceiros para fins de marketing sem seu consentimento explícito. Podemos combinar informações dos USUÁRIOS com as informações que a isyBuy coleta de outras empresas e usá-las para melhorar e personalizar os serviços, o conteúdo e a publicidade da isyBuy.</p> <p style="text-align:justify;">Caso o USUÁRIO não deseje receber mensagens de marketing da isyBuy nem participar de programas de personalização de anúncios, basta indicar sua preferência acessando as opções de sua Conta.</p> <p style="text-align:justify;">Por padrão, todos os novos usuários cadastrados estarão automaticamente inscritos nos nossos programas de marketing e personalização de anúncios.</p> <h4 style="margin:30px 0 40px">COOKIES:</h4> <p style="text-align:justify;">A isyBuy coleta informações por meio de cookies, que são as informações enviadas pelo servidor da isyBuy ao smartphone do USUÁRIO para identificá-lo. Os cookies servem unicamente para controle interno de audiência e de navegação e jamais para controlar, identificar ou rastrear preferências do internauta, exceto quando este desrespeitar alguma regra de segurança ou exercer alguma atividade prejudicial ao bom funcionamento do aplicativo, como, por exemplo, tentativas de “hackear” o serviço.</p> <br> <h4 style="margin:30px 0 40px">SEGURANÇA DA INFORMAÇÃO:</h4> <p style="text-align:justify;">A política de privacidade da isyBuy tem como objetivo garantir que quaisquer informações e dados pessoais dos USUÁRIOS não serão fornecidos, publicados ou comercializados em quaisquer circunstâncias a menos que seja obrigada a fazê-lo em função dos seguintes casos: (I) para o cumprimento de qualquer ordem judicial ou cumprimento de ordem proferida por órgão regulatório competente; (II) para o cumprimento de disposição constante na legislação brasileira atual ou que venha a vigorar; (III) para o cumprimento dos termos do serviço, de acordo com o presente instrumento; (IV) para responder reclamações de que algum conteúdo fornecido viole direitos de terceiros.</p> <p style="text-align:justify;">Os dados pessoais informados à isyBuy são armazenados em um banco de dados reservado e com acesso restrito a alguns funcionários habilitados que são obrigados, por contrato, a manter a confidencialidade das informações e não utilizá-las inadequadamente.</p> <p style="text-align:justify;">A isyBuy não divulgará o número do cartão de crédito do USUÁRIO que tenha feito algum pagamento, exceto com a permissão expressa do USUÁRIO ou se necessário para cumprir regras das associações de cartão de crédito, uma intimação ou outros processos legais.</p> <p style="text-align:justify;">A isyBuy utiliza todas as recomendações e diretrizes do PCI-DSS bem como as melhores práticas de mercado para garantir a segurança dos dados de cartão e transações financeiras.</p> <h4 style="margin:30px 0 40px">SENHA:</h4> <p style="text-align:justify;">Para acesso dos serviços isyBuy reservados unicamente aos USUÁRIOS devidamente registrados, estes irão dispor de uma senha pessoal. Com ela poderão comprar, acessar sua conta pessoal, dentre outras atividades. Esta senha, que é escolhida pelo próprio USUÁRIO, deve ser mantida sob absoluta confidencialidade e, em nenhum caso, deverá ser revelada ou compartilhada com terceiros.</p> <br> <h4 style="margin:30px 0 40px">ALTERAÇÕES DA POLÍTICA DE PRIVACIDADE:</h4> <p style="text-align:justify;">A isyBuy pode alterar esta Política a qualquer tempo, com ou sem aviso prévio. No entanto, se esta Política for alterada de forma significativa, a isyBuy informará a todos os USUÁRIOS sobre a mudança, mediante notificação virtual.</p> </div> </div> </div>
</ion-content>
