<!--
  Generated template for the ParabensPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding id="background">
<div class='conteudo'>
  <ion-icon class="checkIcon" name="ios-checkmark-circle-outline"></ion-icon>  <p class="sucessMsg">Sucesso!</p>
  <p class="msg">Cadastre uma forma de pagamento para concluir.</p>
  <button (click)="cadastrarCartao()" class="btn btn-orange">CADASTRAR MEIO DE PAGAMENTO</button>
  <br/>
  <p (click)="inicio()" class="skip">Pular esta etapa</p>
  </div>
</ion-content>
