page-parabens {
    
    .sucessMsg {
        text-align: center;
        color: #ff7700;
        font-size: 30px;   
        font-family: 'Rubik', sans-serif; 
    }

    .msg {
        color: white;
        text-align: center;
        font-size: 22px;
    }

    .checkIcon {
        margin-left: 0%!important;
        width: 100%!important;
        text-align: center!important;
    }
    
    .btn-orange {
        background-color: #ff7700;
        color: white;
        width: 80%;
        margin-left: 10%;
        border-radius: 90px;
        padding: 4%;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        margin-top: 10%;
    }

    .skip {
        text-align: center;
        color: white;
        font-size: 15px;
        text-decoration: underline;
    }

    .ion-ios-checkmark-circle-outline:before {
        content: "\f149";
        font-size: 300px;
        color: #ff7700;
        margin-top: 20%;
    }   
    
}
