<!--
  Generated template for the UsoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Termos de Uso</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="background">
    <div class="container"> <div class="row" style="margin: 0"> <div class="col-xs-12"> <h2 style="margin:30px 0 40px">TERMOS E CONDIÇÕES DE USO ISYBUY</h2> <p>Ultima atualização em: 24/03/2016</p><br><br> <ol style="padding:0 20px; text-align:justify;"> <li><b><u>INFORMAÇÕES GERAIS:</u></b></li> <br> <p>O USUÁRIO deverá ler este contrato atentamente, pois ao se cadastrar no aplicativo da isyBuy estará concordando com os termos e condições deste Contrato.</p> <br> <li><b><u>USUÁRIO:</u></b> <br> <ol style="padding:0; list-style-type: none;"> <p></p><li>Você será considerado USUÁRIO ao se cadastrar inserindo os seus dados (CPF, e-mail e telefone), que juntos geram sua “Conta”, no sistema da isyBuy.</li><p></p> <p></p><li>No momento da realização do check-in pelo USUÁRIO, o mesmo estará apto a acessar os produtos e serviços disponibilizados pelo Estabelecimento e, desta forma, efetivar o seu pedido.</li><p></p> <p></p><li>Caso mais de uma pessoa deseje fazer pedidos e consumir numa mesma Conta, todos deverão solicitar ao líder da Conta a autorização para fazer o check-in.</li><p></p> <p></p><li>O USUÁRIO estará sempre obrigado a realizar o check-out da Conta antes de se retirar do Estabelecimento.</li><p></p> </ol> </li> <br> <li><b><u>USO DO APLICATIVO isyBuy E INFORMAÇÕES CADASTRAIS:</u></b> <br> <ol style="padding:0; list-style-type: none;"> <p></p><li>O USUÁRIO deverá preencher o cadastro com todas as informações exigidas, assumindo integralmente a responsabilidade civil e criminal pela veracidade das informações, incluindo a titularidade do cartão de crédito cadastrado, comprometendo-se desde já a não divulgar tais informações a terceiros, tendo em vista que o login e senha cadastrados no sistema da isyBuy são de uso PESSOAL e INSTRASFERÍVEL do USUÁRIO.</li><p></p> <p></p><li>Ao preencher o cadastro e aceitar os termos de utilização dos serviços da isyBuy o USUÁRIO poderá escolher gêneros alimentícios e bebidas fornecidos pelos Estabelecimentos de acordo com o cardápio disponibilizado via online pelo Estabelecimento e efetivar o pagamento da sua conta online.</li><p></p> <p></p><li>O serviço disponibilizado pela isyBuy tem como objetivo, portanto, aproximar USUÁRIOS e Estabelecimentos, gerando uma interface e possibilitando, desta forma, uma otimização no atendimento e pagamento dos pedidos efetivados pelos USUÁRIOS no Estabelecimento, aprimorando o serviço e minimizando o tempo de espera.</li><p></p> <p></p><li>Através do aplicativo da isyBuy o USUÁRIO devidamente cadastrado terá acesso aos Estabelecimentos que aceitam os serviços oferecidos pela isyBuy.</li><p></p> <p></p><li>O USUÁRIO, desde já, encontra-se ciente que o serviço oferecido pela isyBuy é somente um serviço relacionado a intermediação de pedidos e pagamento online para facilitar o comércio de produtos pelos Estabelecimentos.</li><p></p> <p></p><li>O USUÁRIO menor de 18 anos que preencheu o cadastro do sistema isyBuy está ciente que não poderá solicitar as bebidas alcoólicas disponibilizadas no cardápio do Estabelecimento.</li><p></p> <p></p><li>Caso o USUÁRIO suspeite da utilização por terceiros da sua Conta, o mesmo deverá alterar a sua senha imediatamente através do link “esqueci minha senha" e fazer o login novamente.</li><p></p> <p></p><li>A isyBuy poderá a qualquer momento ratificar as informações fornecidas pelo USUÁRIO no cadastro, reservando-se a seu exclusivo critério, o direito de bloquear/restringir a utilização do USUÁRIO dos serviços fornecidos pelo aplicativo online, caso suspeite de qualquer irregularidade no cadastramento/utilização do respectivo sistema.</li><p></p> <p></p><li>O USUÁRIO autoriza que ocasionalmente seja realizado teste de validade do cartão cadastrado na base sendo cobrado um valor de até R$ 1,00 (um Real).</li><p></p> <p></p><li>A isyBuy se isenta da necessidade de divulgar suas políticas internas de gerenciamento de risco e de bloqueio de Contas por razões de segurança.</li><p></p> </ol> </li> <br> <li><b><u>PEDIDO E PAGAMENTO:</u></b> <br> <ol style="padding:0; list-style-type: none;"> <p></p><li>O USUÁRIO terá acesso ao cardápio do Estabelecimento através do aplicativo e poderá efetivar pedidos e pagamentos.</li><p></p> <p></p><li>Ao utilizar os nossos serviços em bares e restaurantes o USUÁRIO não poderá mais cancelar e/ou alterar por conta própria os pedidos enviados, devendo assim chamar um Atendente para verificar a possibilidade de cancelamento e/ou alteração. Ficará integralmente a critério do Estabelecimento dizer ao USUÁRIO que deseja cancelar um pedido já enviado se ainda há tempo hábil ou não para o cancelamento e/ou alteração e, em caso positivo, será o Atendente também o responsável por providenciar os devidos ajustes na conta.</li><p></p> <p></p><li>O USUÁRIO, ao finalizar o seu consumo no Estabelecimento, deverá acessar a tela de pagamento, definir o valor que será pago, escolher o cartão que deseja utilizar e efetivar o pagamento.</li><p></p> <p></p><li>Todo pedido realizado pelo USUÁRIO através do aplicativo isyBuy deverá ser pago através do mesmo.</li><p></p> <p></p><li>Ao “Pagar a Conta”, o USUÁRIO receberá seu recibo online na tela do aplicativo e também em seu e-mail cadastrado. Caso haja outros USUÁRIOS participando da mesma Conta, os mesmos poderão continuar realizando os seus pedidos.</li><p></p> <p></p><li>O USUÁRIO que já efetivou o pagamento somente poderá realizar novos pedidos mediante um novo check-in na Conta ou abertura de uma nova Conta.</li><p></p> <p></p><li>O último USUÁRIO a fazer o check-out ficará responsável por liquidar os valores em aberto de toda a Conta, caso ainda haja algum valor pendente.</li><p></p> <p></p><li>O USUÁRIO garante que possui recursos suficientes para realizar o pagamento dos produtos e serviços oferecidos pelo Estabelecimento e lançados em sua Conta pelo próprio USUÁRIO ou pelo Estabelecimento.</li><p></p> <p></p><li>O USUÁRIO é obrigado a realizar o pagamento para poder fazer o check-out da conta.</li><p></p> <p></p><li>Caso ainda haja saldo devedor 24 horas após a abertura da Conta, os USUÁRIOS ainda ativos na Conta serão debitados automaticamente no(s) cartão(ões) cadastrados até atingir o valor devido. Este valor devido será rateado proporcionalmente ao consumo de cada USUÁRIO ainda ativo.</li><p></p> <p></p><li>Caso o USUÁRIO não esteja de acordo com qualquer produto lançado em seu check-in, o mesmo deverá solicitar de imediato ao Estabelecimento a retificação da Conta.</li><p></p> <p></p><li>A isyBuy se reserva o direito de efetivar o bloqueio total ou parcial da Conta caso o USUÁRIO não disponibilize ao menos um cartão válido cadastrado.</li><p></p> <p></p><li>A isyBuy se reserva o direito de efetivar o bloqueio total ou parcial da Conta, caso o USUÁRIO não possua saldo suficiente em algum de seus cartões cadastrados para quitar quaisquer valores devidos.</li><p></p> </ol> </li> <br> <li><b><u>ERROS E PAGAMENTOS NÃO AUTORIZADOS:</u></b> <br> <ol style="padding:0; list-style-type: none;"> <p></p><li>Em caso de suspeita de cobrança indevida, a isyBuy deverá ser notificada imediatamente. Neste caso, a sua Conta poderá ser bloqueada para averiguação do ocorrido pela isyBuy.</li><p></p> </ol> </li> <br> <li><b><u>ESPAÇO VIRTUAL:</u></b> <br> <ol style="padding:0; list-style-type: none;"> <p></p><li>A isyBuy se compromete a disponibilizar ao USUÁRIO espaço virtual que viabilize ao USUÁRIO a possibilidade de efetivar os pedidos de produtos alimentícios e bebidas contidos no cardápio online de cada Estabelecimento e efetivar o pagamento dos pedidos realizados online.</li><p></p> </ol> </li> <br> <li><b><u>SIGILO DAS INFORMAÇÕES:</u></b> <br> <ol style="padding:0; list-style-type: none;"> <p></p><li>A isyBuy se compromete a não divulgar informações ou dados de seus USUÁRIOS de forma que seja possível identificar pessoas, marcas ou estabelecimentos a menos que seja obrigada a fazê-lo em função dos seguintes casos: (I) para o cumprimento de qualquer ordem judicial, ou cumprimento de ordem proferida por órgão regulatório competente; (II) para o cumprimento de disposição constante na legislação brasileira atual ou que venha a vigorar; (III) para o cumprimento dos termos do serviço, de acordo com o presente instrumento; (IV) para responder reclamações de que algum conteúdo fornecido viole direitos de terceiros.</li><p></p> <p></p><li>A isyBuy garante que implementa rígidos procedimentos de segurança para proteger as informações pessoais dos USUÁRIOS de fraude na internet e desta forma minimizar qualquer risco advindo de invasões provenientes de terceiros (“hackers”).</li><p></p> <p></p><li>Todavia, a isyBuy não se responsabiliza pela apreensão e cooptação de dados por parte de terceiros (“hackers”), que possam acessar essas informações pessoais dos USUÁRIOS, rompendo o sistema de segurança da isyBuy.</li><p></p> <p></p><li>A isyBuy utiliza todas as recomendações e diretrizes do PCI-DSS bem como as melhores práticas de mercado para garantir a segurança dos dados de cartão e transações financeiras.</li><p></p> </ol> </li> <br> <li><b><u>LIMITAÇÃO DE RESPONSABILIDADE:</u></b> <br> <ol style="padding:0; list-style-type: none;"> <p></p><li>Quando utilizado em bares e restaurantes, o atendimento pelos funcionários dos Estabelecimentos, preparo, disponibilização e entrega física do gênero alimentício e bebidas ao USUÁRIO é de total responsabilidade dos Estabelecimentos. Assim sendo, toda e qualquer reclamação acerca de problemas decorrentes de vício, defeito ou inexecução da feitura, preparo e entrega de produtos alimentícios deverá ser direcionada aos Estabelecimentos cadastrados.</li><p></p> <p></p><li>As informações e dúvidas referentes aos produtos e serviços dos Estabelecimentos deverão ser diretamente questionadas aos Estabelecimentos e são de inteira responsabilidade dos mesmos. A isyBuy não poderá ser responsabilizada por erros ou qualquer informação inexata contida no cardápio dos Estabelecimentos.</li><p></p> <p></p><li>A isyBuy não se responsabiliza por eventuais atrasos, erros ou perda de informação na transmissão de um pedido por motivos de falhas no Sistema de Automação (ERP) ou na conexão com a Internet do Estabelecimento ou ainda, por falhas na conexão do Smartphone do USUÁRIO.</li><p></p> <p></p><li>8.4 A responsabilidade total da isyBuy com relação a qualquer perda ou dano ao USUÁRIO decorrente de nossa operação estará limitada a um valor equivalente ao que o USUÁRIO pagou pelo pedido no Estabelecimento.</li><p></p> </ol> </li> <br> <li><b><u>SANÇÕES:</u></b> <br> <ol style="padding:0; list-style-type: none;"> <p></p><li>O uso do "aplicativo" isyBuy em desacordo a este "Termo" poderá implicar na exclusão do cadastro do USUÁRIO e a proibição da utilização dos serviços.</li><p></p> <p></p><li>O USUÁRIO concorda em indenizar qualquer das partes envolvidas na utilização do aplicativo isyBuy por alguma perda, responsabilização, reclamação ou demanda, por quaisquer prejuízos devido a, ou resultantes da, sua má utilização do aplicativo isyBuy.</li><p></p> </ol> </li> <br> <li><b><u>MODIFICAÇÕES DESTE TERMO:</u></b> <br> <ol style="padding:0; list-style-type: none;"> <p></p><li>O presente TERMO poderá, a qualquer tempo, ter seu conteúdo, ou parte dele, modificados para adequações e inserções, tudo com vistas ao aprimoramento dos serviços disponibilizados.</li><p></p> <p></p><li>Caso ocorra qualquer alteração relevante, colocaremos um aviso em nosso Website, juntamente com os Termos e Condições de Uso já atualizados, sendo possível ao USUÁRIO manifestar oposição a quaisquer dos termos modificados, desde que o faça por escrito através do e-mail contato@isybuy.com. A isyBuy analisará cada caso de acordo com o seu critério de avaliação.</li><p></p> </ol> </li> <br> <li><b><u>CANAL DE COMUNICAÇÃO:</u></b> <br> <ol style="padding:0; list-style-type: none;"> <p></p><li>O USUÁRIO poderá estabelecer contato com a isyBuy através do endereço eletrônico contato@isybuy.com sendo certo que o USUÁRIO se obriga, igualmente, a manter em seu cadastro endereço eletrônico atual por intermédio do qual se farão as comunicações a ele dirigidas pela isyBuy desde logo emprestando-se validade jurídica e efetividade a esse meio eletrônico de troca de informações recíprocas.</li><p></p> <p></p><li>O principal meio de comunicação utilizado pela isyBuy será através de meios eletrônicos, utilizando e-mails ou mensagens do próprio aplicativo isyBuy, porém a isyBuy nunca enviará solicitação de alteração de senha por e-mail, sem que tenha ocorrido uma solicitação direta do USUÁRIO para que esta alteração seja efetivada.</li><p></p> <p></p><li>Toda comunicação eletrônica será considerada como recebida pelo USUÁRIO no período de 24 (vinte e quatro) horas.</li><p></p> <p></p><li>Caso se julgue necessário, os atendentes da isyBuy poderão contatar o USUÁRIO através de contato via telefone, tendo como fonte de informação o telefone previamente informado no preenchimento cadastro.</li><p></p> </ol> </li> <br> <li><b><u>ACEITAÇÃO DO TERMO DE USO</u></b> <br> <ol style="padding:0; list-style-type: none;"> <p></p><li>O USUÁRIO declara ter lido, entendido e que aceita todas as regras, condições e obrigações estabelecidas no presente TERMO.</li><p></p> </ol> </li> <br> <li><b><u>FORO DE ELEIÇÃO</u></b> <br> <ol style="padding:0; list-style-type: none;"> <p></p><li>As partes elegem como competente para dirimir eventuais controvérsias que venham a surgir da interpretação e do cumprimento do presente TERMO o foro da Comarca de São Paulo - SP.</li><p></p> </ol> </li> </ol> </div> </div> </div>
</ion-content>
