<ion-header>
    <ion-navbar>
      <ion-title>{{eventObj.titulo}}</ion-title>
    </ion-navbar>  
</ion-header>
  <ion-content padding id="background">
  <div class='conteudo'>
    <ion-row>
      <ion-col>
        <img class="imgCenter" src="{{eventObj.imgLarge}}"/>
        <p class="text">Informe um valor desejado</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-currency-mask [(ngModel)]="value" (blur)="blurValor()" class="inputEmail moneyInput" placeholder="Informe um valor" label="R$" autocomplete="off"></ion-currency-mask>
      <p *ngIf="validacaoValor === true" class="errorMsg valor">Preencha o campo de Valor</p>
    </ion-row>

    <ion-row>
      <p class="text">Método de pagamento</p><ion-icon (click)="showToastWithCloseButton()" class="infoIcon" name="information-circle-outline"></ion-icon>
    </ion-row>

    <div *ngIf="cards"> 
      <!-- Combobox de Cartão -->
      <ion-item class="inputEmail cardInput">
          <ion-label><ion-icon name="card"></ion-icon></ion-label>
          <ion-select [(ngModel)]="codCard" interface="action-sheet">
            <ion-option [value]="0" selected="true">Selecione</ion-option>
            <ion-option *ngFor="let card of cards" [value]="card.codCartao">xxxx-xxxx-{{card.ultimosDigitos}}</ion-option>
          </ion-select>
        </ion-item>
        <p *ngIf="validacaoCartao === true" class="errorMsg comboCartao" >Selecione um cartão para prosseguir</p>
  
        <p class="textDivider">ou</p>
      </div>  
      <p (click)="cadastrarCartao()" class="addCard">+ Adicione um novo cartão</p>
  
      <!-- Botão Entrar -->
    <button (click)="doConfirm(value, codCard)" class="btn btn-orange bounceIn animation-delay3">P R O S S E G U I R</button>
  </div>  
  </ion-content>
