page-missoes {

    .text {
        color: white;
        font-family: 'Rubik', sans-serif;
    }

    .textTwo {
        color: white;
        font-family: 'Rubik', sans-serif;
    }

    .infoIcon {
        color: white;
        margin-left: 2%;
        margin-top: 1.5%;
        font-size: 26px;
    }

    .titleBanner {
        text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-shadow: 5px 2px 12px black;
    }

    .inputEmail {
        color: white;
        background-color: #2e2c2c!important;
        font-size: 130%!important;
        font-family: 'Rubik', sans-serif!important;
        border-radius: 10px!important;
        margin-bottom: 6%;
    }

    .item-block .item-inner {
        border-bottom: 0px!important;
    }

    .textDivider {
        text-align: center;
        font-family: 'Rubik', sans-serif;
        color: #858585;
        margin-top: -1%;
    }

    .addCard {
        color: #ff7700;
        font-family: 'Rubik', sans-serif;
        text-align: center;
        font-size: 18px;
    }

    .btn-orange {
        background-color: #ff7700;
        color: white;
        width: 60%;
        margin-left: 20%;
        border-radius: 90px;
        padding: 4%;
        font-family: 'Rubik', sans-serif;
        margin-top: 3%;
    }

    ion-label {
        -webkit-flex: none!important; 
        flex: none!important; 
    }

    .moneySymbol {
        color: #ff7700!important;
    }

    .imgTitle {
        position: absolute;
        color: white;
        font-size: 61px;
        margin-left: 11%;
        margin-top: 6%;
        font-family: 'Poppins', sans-serif;
        text-shadow: 2px 2px 27px black;
    }

    ion-select {
        max-width: 100%!important;
    }
    ion-icon {
        font-size: 30px;
    }

    .errorMsg {
        color: indianred;
        margin-top: -12px;
        // display: none;
    }

    .item-md{
        background-color:#2e2c2c !important;
        color: white !important;
        width: 100% !important;
    }

    ion-currency-mask{
        width:100%
    }
    
    .label-md{
        color: #ff7700!important;
    }
}

