page-login {
    
    .item-md.item-block .item-inner {
        border-bottom: none!important;
    }

    .item-md .item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
        box-shadow: none!important;
    }
    

    .isyBuyLogo {
        width: 10%;
        margin-left: 45%;
        margin-top: 18.5%;
    }

    .formEmail {
        color: white;
        background-color: #2e2c2c!important;
        border-color: transparent!important;
        padding-bottom: 4%!important;
        padding-top: 4%!important;
        font-size: 130%!important;
        font-family: 'Rubik', sans-serif!important;
        border-radius: 10px!important;
    }

    .logoImg {
        padding: 10%;
        width: auto;
    }
    
    .formSenha {
        color: white;
        background-color: #2e2c2c!important;
        border-color: transparent!important;
        padding-bottom: 4%!important;
        padding-top: 4%!important;
        margin-top: 6%!important;
        font-size: 130%!important;
        font-family: 'Rubik', sans-serif!important;
        border-radius: 10px!important;
    }
    
    .formEmail:focus {
        outline-color: transparent!important;
        border-color: transparent!important;
        box-shadow: none!important;
    }
    
    .formSenha:focus {
        outline-color: transparent!important;
        border-color: transparent!important;
        box-shadow: none!important;
    }
    
    .textDivider {
        text-align: center;
        font-family: 'Rubik', sans-serif;
        color: #858585;
    }
    
    .btn-orange {
        background-color: #ff7700;
        color: white;
        width: 60%;
        margin-left: 20%;
        border-radius: 90px;
        padding: 4%;
        font-family: 'Rubik', sans-serif;
    }
    
    .faceBtn {
        margin-top: 15%;
    }
    
    .fa-user {
        position: absolute;
        margin-left: 15%;
        margin-top: 21px;
    }
    
    .fa-lock {
        position: absolute;
        margin-left: 15%;
        margin-top: 21px;
    }
    
    .forgetPassword {
        color: white;
        font-family: 'Rubik', sans-serif;
        text-align: center;
        margin-top: 7%;
    }
    
    .questionText {
        font-family: 'Rubik', sans-serif;
        color: white;
        margin-top: 8%;
        text-align: center;
    }

    
    
    .signUp {
        color: #ff7700!important; 
    }
    
    .inputEmail {
            /* width: 90%; */
        /* border-radius: 20px; */
        color: white;
        background-color: #2e2c2c!important;
        /* padding-left: 15%!important; */
        padding-bottom: 1%!important; 
        padding-top: 1%!important;
        font-size: 130%!important;
        font-family: 'Rubik', sans-serif!important;
        border-radius: 10px!important;
        margin-bottom: 6%;
    }

    .inputSenha {
        /* width: 90%; */
    /* border-radius: 20px; */
    color: white;
    background-color: #2e2c2c!important;
    /* padding-left: 15%!important; */
    padding-bottom: 1%!important; 
    padding-top: 1%!important;
    font-size: 130%!important;
    font-family: 'Rubik', sans-serif!important;
    border-radius: 10px!important;
    margin-bottom: 6%;
}
    
    .item-ios.item-block .item-inner {
        border-bottom: 0px!important;
    }

    .dontSee {
        color: #999;
        z-index: 1;
        display: inline-block;
        position: relative;
        margin: 0!important;
        height: 50px;
        width: 75px;
        padding-top: 10px;
        text-align: center;
     }

    .see {
         color: #999;
         z-index: 1;
        display: inline-block;
        position: relative;
        margin: 0!important;
        height: 50px;
        width: 75px;
        padding-top: 10px;
        text-align: center;
    }

    // .ion-ios-eye:before {
    //     margin-left: 10%!important;
    //     margin-top: -7.5%!important;
    //     position: absolute!important;
    // }

    // .ion-md-eye:before {
    //     margin-left: 10%!important;
    //     margin-top: -9.5%!important;
    //     position: absolute!important;
    // }

    // .ion-ios-eye-off:before {
    //     margin-left: 10%!important;
    //     margin-top: -7.5%!important;
    //     position: absolute!important;
    // }

    // .ion-md-eye-off:before {
    //     margin-left: 10%!important;
    //     margin-top: -9.5%!important;
    //     position: absolute!important;
    // }

    .md-content ion-title {
        width: 70%;
    }

    .errorMsg {
        color: indianred;
        margin-top: -16px;
        display: none;
    }

    .senha {
        margin-top: -33px!important;
    }
    // .item-inner {
    //     box-shadow: inset 0 -1px 0 0 red;
    // }

}
