<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar>
    <ion-title class="pageTitle">Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding id="background">
  <div class="conteudo">
  <ion-row>
    <ion-col>
        <img class="logoImg imgCenter" src="assets/imgs/logo-ibm.png"/>
    </ion-col>
  </ion-row>
        
  <br/>
  <br/>
  
        <!-- Input de Email -->
  <ion-item class="inputEmail">        
      <ion-label><ion-icon name="md-mail"></ion-icon></ion-label>
      <ion-input class="emailPlace" [(ngModel)]="email" type="email" autocomplete="off" placeholder="Email"></ion-input>
  </ion-item>

  <!-- Input de Senha -->
  <ion-item class="inputSenha">        
    <ion-label>
      <ion-icon name="md-lock"></ion-icon></ion-label>
      <ion-input class="passwordPlace" [(ngModel)]="senha" type="{{type}}" autocomplete="off" placeholder="Senha"></ion-input>
      <ion-icon *ngIf="showPass" class="dontSee" clear item-right (click)="showPassword()" name="eye-off"></ion-icon>
      <ion-icon *ngIf="!showPass" class="see" clear item-right (click)="showPassword()" name="eye"></ion-icon>  </ion-item>
  
  <!-- Botão Entrar -->
  <button (click)="entrar(email, senha)" class="btn btn-orange " *ngIf="email !== '' && senha !== ''">E N T R A R</button>
  <button class="btn btn-orange " *ngIf="email === '' || senha === ''" disabled>E N T R A R</button>
  <br/>

  <!-- Esqueci minha senha -->
  <p (click)="esqueciSenha()" class="forgetPassword">Esqueci minha senha</p>
  
  <!-- <a (click)="doe()">Doe</a> <a (click)="missoes()">Missões</a> <a (click)="cartao()">Minha conta</a> -->

  <!-- Cadastre-se -->
  <p class="questionText">Não possui cadastro? <a class="signUp" (click)="cadastrar()"> Cadastre-se</a></p>
  </div>
</ion-content>
