<ion-header>
  <ion-navbar>
    <ion-title>Meus Cartões</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="background">
<div class='conteudo'>    
  <ion-list >
        <ion-item *ngFor="let cards of list">
            <img class="miniIcon" *ngIf="cards.marca == 'v'" src="assets/imgs/mini-visa.png"/>
            <img class="miniIcon" *ngIf="cards.marca == 'm'" src="assets/imgs/mini-mastercard.png"/>
            <img class="miniIcon" *ngIf="cards.marca == 'dn'" src="assets/imgs/mini-dinner.png"/>
            <img class="miniIcon" *ngIf="cards.marca == 'd'" src="assets/imgs/mini-elo.png"/>
            <p class="white">•••• •••• •••• {{cards.ultimosDigitos}}</p>
            <ion-icon (click)="deleteCard(cards.codCartao)" name="md-close" item-end></ion-icon>
        </ion-item>
      </ion-list>
    
  <button (click)="cadastrarCartao()" class="btn btn-orange">A D I C I O N A R &nbsp; C A R T Ã O</button>
</div>
</ion-content>
