page-meus-cartoes {
    .list-md > .item-block:last-child ion-label, .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-inner {
        color: white;
        font-family: 'Rubik', sans-serif;
    }
    // .inputEmail {
    //     color: white;
    //     background-color: #2e2c2c!important;
    //     border-color: transparent!important;
    //     font-size: 130%!important;
    //     font-family: 'Rubik', sans-serif!important;
    //     border-radius: 10px!important;
    //     margin-bottom: 6%;
    // }

    // .pageTitle {
    //     color: white;
    //     margin-top: 1%;
    //     font-size: 140%;
    // }

    // .item-block .item-inner {
    //     border-bottom: 0px!important;
    // }

    // ion-label {
    //     -webkit-flex: none!important; 
    //     flex: none!important; 
    // }

    // .number {
    //     color: white;
    //     margin-top: -33%;
    //     text-align: center;
    // }

    // .name {
    //     color: white;
    //     margin-left: 8%;
    //     margin-top: 31px;
    // }

    // .date {
    //     color: white;
    //     margin-left: 72%;
    //     margin-top: -10%;
    // }

    // .remove {
    //     position: absolute;
    //     margin-top: 38px;
    //     margin-left: 63%;
    // }
    .miniIcon {
        width: 10%;
        float: left;
        margin-right: 5%;
    }

    .item-block {
        background-color: #222222;
    }

    .button-inner {
        color: white!important;
    }

    .ion-md-close:before {
        color: #f54d4d; 
    }
    .label-ios {
        color: white;
    }

    .white {
        color: white;
    }

    .list-ios .item-block .item-inner {
        border-bottom: none!important;
    }

    .btn-orange {
        background-color: #ff7700;
        color: white;
        width: 80%;
        margin-left: 10%;
        border-radius: 90px;
        padding: 4%;
        font-family: 'Rubik', sans-serif;
        margin-top: 5%;
    }
}
