page-cadastrar {
    
    .item-md.item-block .item-inner {
        border-bottom: none!important;
    }

    .item-md .item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
        box-shadow: none!important;
    }

    .a {
        font-size: 12px!important;
    }
    
    .textDivider {
        text-align: center;
        font-family: 'Rubik', sans-serif;
        color: #858585;
        margin-top: -1%;
        font-size: 10px;
    }
    
    .btn-orange {
        background-color: #ff7700;
        color: white;
        width: 60%;
        margin-left: 20%;
        margin-top: 3%;
        margin-bottom: 4%;
        border-radius: 90px;
        padding: 4%;
        font-family: 'Rubik', sans-serif;
    }
    
    .faceBtn {
        margin-top: 0%;
    }

    .content-md .faceBtn {
        margin-top: -3%!important;
    }
    
    .forgetPassword {
        color: white;
        font-family: 'Rubik', sans-serif;
        text-align: center;
        margin-top: 7%;
    }
    
    .questionText {
        font-family: 'Rubik', sans-serif;
        color: white;
        margin-top: 4%;
        text-align: center;
        font-size: 12px;
        width: 90%;
        margin-left: 5%;
    }

    .content-ios .questionText {
        margin-top: 7%;
    }
    
    
    .signUp {
        color: #ff7700!important;
        font-size: 12px!important; 
    }
    
    .inputEmail {
            /* width: 90%; */
        /* border-radius: 20px; */
        color: white;
        background-color: #2e2c2c!important;
        /* padding-left: 15%!important; */
        padding-bottom: -1%!important; 
        padding-top: -1%!important;
        font-size: 110% !important;
        font-family: 'Rubik', sans-serif!important;
        border-radius: 10px!important;
        margin-bottom: 6%;
    }

    .content-android .inputEmail {
        font-size: 100% !important;  
    }
    
    .item-ios.item-block .item-inner {
        border-bottom: 0px!important;
    }

    .dontSee {
        color: white;
        font-size: 30px;
        z-index: 1;
        display: inline-block;
        position: relative;
        margin: 0!important;
        height: 45px;
        width: 75px;
        padding-top: 10px;
        text-align: center;
    }

    .see {
        color: white;
        font-size: 30px;
        z-index: 1;
        display: inline-block;
        position: relative;
        margin: 0!important;
        height: 45px;
        width: 75px;
        padding-top: 10px;
        text-align: center;
    }



    .marginBottom0 {
        margin-bottom: 0%!important;
    }

    .errorMsg {
        color: indianred;
        margin-top: -16px;
        // display: none;
    }
}
