<!--
  Generated template for the CadastrarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding id="background">
<div class='conteudo'>
    <!-- Input de Nome -->
    <ion-item class="inputEmail inputName">        
        <ion-label><ion-icon name="md-person"></ion-icon></ion-label>
        <ion-input [(ngModel)]="name" type="text" maxlength="200" autocomplete="off" placeholder="Nome"></ion-input>
    </ion-item>

    <!-- Input de Email -->
    <ion-item class="inputEmail inputEmailu">        
        <ion-label><ion-icon name="md-mail"></ion-icon></ion-label>
        <ion-input [(ngModel)]="email" type="email" maxlength="254" autocomplete="off" placeholder="Email"></ion-input>
    </ion-item>
    <p *ngIf="validacaoEmail == true" class="errorMsg emailInvalid">E-mail não é válido</p>
    <p *ngIf="validacaoEmail2 == true" class="errorMsg emailAlreadyExist">E-mail já cadastrado em nossa base de dados.</p>

    <!-- Input de Senha -->

    <ion-item class="inputEmail inputSenha">        
        <ion-label>
            <ion-icon name="md-lock"></ion-icon>
        </ion-label>
        <ion-input [(ngModel)]="password" type="{{type}}" maxlength="100" autocomplete="off" placeholder="Senha"></ion-input>
        <ion-icon *ngIf="showPass" class="dontSee" clear item-right (click)="showPassword()" name="eye-off"></ion-icon>
        <ion-icon *ngIf="!showPass" class="see" clear item-right (click)="showPassword()" name="eye"></ion-icon>
    </ion-item>
    <p *ngIf="validacaoPassword == true" class="errorMsg senhaInvalida">A senha deve ter no mínimo 6 caracteres, incluindo letras e números.</p>

    <!-- Input de CPF -->
    <ion-item class="inputEmail inputCPF">        
        <ion-label><ion-icon name="md-checkmark"></ion-icon></ion-label>
        <ion-input [(ngModel)]="cpf" [brmasker]="{mask:'000.000.000-00', len:14}" type="tel" autocomplete="off" placeholder="CPF"></ion-input>
    </ion-item>
    <p *ngIf="validacaoCPF == true" class="errorMsg cpfInvalid">CPF não é válido</p>

    <!-- Input de Data de Nascimento -->
    <ion-item class="inputEmail inputTelefone">        
        <ion-label><ion-icon name="md-call"></ion-icon></ion-label>
        <ion-input [(ngModel)]="phone" [brmasker]="{mask:'(00) 00000-0000', len:15}" type="tel" autocomplete="off" placeholder="Telefone"></ion-input>
    </ion-item>
    <p *ngIf="validacaoPhone == true" class="errorMsg">O telefone não é valido</p>

    <!-- Botão Entrar -->
    <button (click)="createAccount(name, email, password, cpf, phone)" class="btn btn-orange" *ngIf="name !== '' && email !== '' && password !== '' && cpf !== '' && phone !== ''">C A D A S T R A R</button>
    <button class="btn btn-orange" *ngIf="name === '' || email === '' || password === '' || cpf === '' || phone === ''" disabled>C A D A S T R A R</button>
  
    <br/>
  
    <!-- Cadastre-se -->
    <p class="questionText">
        <a class="signUp">* </a>Ao clicar em CADASTRAR, você concorda com os <a (click)="uso()" class="signUp">Termos de Uso</a>, a 
    <a (click)="privacidade()" class="signUp">Política de Privacidade</a> e a <a (click)="troca()" class="signUp">Política de Trocas</a></p>

</div>        
</ion-content>
