<!--
  Generated template for the TrocaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Política de Troca</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="background">
    <div class="container">
      <h2 style="text-align: center">Política de Trocas</h2>
      <p style="text-align: center">Atualizada em: 24/03/2016</p>

      <h4>Insatisfação / Arrependimento / Desistência</h4>
      <p>Para garantir a satisfação de seus Usuários a IsyBuy envidará sempre os maiores esforços para firmar parcerias com Estabelecimentos
        Comerciais afiliados que utilizem uma Política de Troca, Devolução e Arrependimento que respeite integralmente os direitos do consumidor.
      </p>
      <p>
        Se o produto adquirido no Estabelecimento Comercial afiliado apresentar algum vicio de qualidade, conforme art. 20 do Código de Defesa do
        Consumidor ("CDC"), o Usuário poderá solicitar a sua devolução ou troca imediatamente junto ao gerente do Estabelecimento Comercial 
        afiliado à IsyBuy. A realização de troca ou devolução do produto somente poderá ser efetivado no respectivo Estabelecimento Comercial
        afiliado. É importante ressaltar que a IsyBuy é apenas um facilitador de pedidos e pagamento da conta do Usuário.
      </p>
      <p>
        No caso do exercício do direito legal de arrependimento, os Usuários deverão informar ao Gerente do Estabelecimento Comercial afiliado
        a fim de solicitar o cancelamento da Compra através do aplicativo IsyBuy.
      </p>

      <p>Qualquer dúvida, por favor, enviar uma mensagem para (<b>contato@isybuy.com</b>)</p>
    </div>
</ion-content>
