<!--
  Generated template for the MinhaContaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Minha Conta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="background">
<div class='conteudo'>
  <ion-row>
    <ion-col col-1>
      <!-- Imagem de usuário -->
      <img class="usericon" src="assets/icons/ic_account_circle_white_24dp/web/ic_account_circle_white_24dp_2x.png"/>
    </ion-col>
    <ion-col class="marginTopAuto" col-11>
      <!-- Nome do Usuário -->
      <h1 class="username">{{name}}</h1>
    </ion-col>
  </ion-row>
  <!-- Opções -->
  <div (click)="dadosPessoais()" class="options">Meus dados <ion-icon class="arrow" name="arrow-forward"></ion-icon></div>
  <!-- Opções -->
  <div (click)="meusCartoes()" class="options">Meus cartões  <ion-icon class="arrow" name="arrow-forward"></ion-icon></div>
  <!-- Opções -->
  <div (click)="doacoesMissoes()" class="options">Histórico de contribuições  <ion-icon class="arrow" name="arrow-forward"></ion-icon></div>

  <div (click)="politicas()" class="options">Políticas e Termo  <ion-icon class="arrow" name="arrow-forward"></ion-icon></div>
  <p>versão 0.0.4</p>
  <a (click)="logOut()">Sair</a>

</div>
</ion-content>
