<!--
  Generated template for the EsqueciSenhaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Esqueci minha senha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="background">
  <div class='conteudo'>
  <img class="lockIcon" src="assets/imgs/lock.png"/>
  <p class="forgetText">Problema com o login? Insira seu e-mail e enviaremos a você um link para voltar a acessar sua conta.</p>
  <!-- Input de Email -->
  <ion-item class="inputEmail">        
    <ion-label><ion-icon name="md-mail"></ion-icon></ion-label>
    <ion-input [(ngModel)]="email" maxlenght="244" type="text" autocomplete="off" placeholder="Email"></ion-input>
  </ion-item>

  <!-- Botão Entrar -->
  <button (click)="enviarSenha(email)" *ngIf="email !== ''" class="btn btn-orange ">E N V I A R</button>
  <button class="btn btn-orange " *ngIf="email === ''" disabled>E N V I A R</button>
  </div>
</ion-content>
