page-esqueci-senha {
    .lockIcon {
        display: block;
        margin: 0 auto;
        width: 30%;
    }

    .forgetText {
        font-family: 'Rubik', sans-serif;
        color: white;
        text-align: center;
        width: 80%;
        margin-left: 10%;
        font-size: 17px;
        margin-top: 10%;
    }

    a {
        color: #ff7700;
    }

    .inputEmail {
    color: white;
    background-color: #2e2c2c!important;
    border-color: transparent!important;
    /* padding-left: 15%!important; */
    padding-bottom: 1%!important; 
    padding-top: 1%!important;
    font-size: 130%!important;
    font-family: 'Rubik', sans-serif!important;
    border-radius: 10px!important;
    margin-bottom: 6%;
}

.item-block .item-inner {
    border-bottom: 0px!important;
}

.btn-orange {
    background-color: #ff7700;
    color: white;
    width: 60%;
    margin-left: 20%;
    border-radius: 90px;
    padding: 4%;
    font-family: 'Rubik', sans-serif;
    margin-top: 5%;
}
}
