page-home {

}

@import url('https://fonts.googleapis.com/css?family=Rubik');

#background {
    background-color: #222222;
}
.toolbar-background {
    background-color: #272727;
}

.doe {
    font-size: 30px;
    font-weight: bold;
}

.options {
    text-align: center;
    margin-top: 10%;
}

a {
    font-size: 15px;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.centerOption {
    margin-left: 8%;
    margin-right: 8%;
}


.poster {
    width: 90%;
    margin-left: 5%;
}

.toolbar-title-ios {
    color: white;
}

.menu-icon {
    color: white;
}

.ion-ios-arrow-back:before {
    color: white;
    margin-top: 3px;
    margin-left: 10px;
}

.ion-md-contact:before {
    color: white;
    margin-top: 3px;
    margin-left: 346px;
}

.nextImg {
    position: absolute;
    margin-left: 5%;
    margin-top: 7%;
    height: 496px;
}

.prvsImg {
    position: absolute;
    margin-left: -83%;
    margin-top: 7%;
    height: 496px;
}

.toolbar-title-md {
    color: white;
}
