<ion-header>

  <ion-navbar>
    <ion-title>Histórico</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="background">
<div class='conteudo'>
    <!-- Opções -->
    <div *ngFor="let r of receipts | slice:0:round" class="options">
      <div>
        <ion-row><h6>{{r.projeto.titulo}}</h6></ion-row>
          <ion-row>
            <ion-col col-2>Recibo:</ion-col>
            <ion-col><a>{{r.codCheckin}}</a></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>Valor:</ion-col>
            <ion-col><a>R$ {{r.value}}</a></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>Data:</ion-col>
            <ion-col><a>{{r.transactionDate}}</a></ion-col>
          </ion-row>
      </div>
    </div>
</div>
</ion-content>
