page-doacoes-missoes {
    .username {
        margin-bottom: -3%;
        font-size: 22px;
        color: whitesmoke;
        font-family: 'Rubik', sans-serif;
    }

    .options {
        background-color: #343232;
        margin-left: -7%;
        margin-right: -7%;
        padding: 3%;
        padding-left: 7%;
        text-align: left;
        color: white;
        font-size: 12px;
        margin-bottom: 1%;
        margin-top: 0% !important;
        font-family: 'Rubik', sans-serif;
    }

    .showMore {
        color: white;
        margin-top: 12%;
        text-align: center;
    }

    .marginTop6 {
        margin-top: -6%;
    }

    a {
        color: #f3964d;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;        
    }

    .orange {
        color: #ff7700!important;
    }
    
}
