page-cadastrar-cartao {
 
.reset{
    padding: 0;
    font-size: initial;
    background: transparent;
}    

.datetime-text{
    font-size: initial !important;
}

.item-inner{
    padding:0 !important;
    border:0 !important;
}

.frontCard{
    position: relative;
    display: none;
    margin: 0 auto;
}

    .cardCodeView{
        width:100%;
    }

    .backCard {
        position: relative;
        display: none;
        margin: 0 auto;
        
    }
    // .upNull {
    //     // position: absolute;
    //     // margin-top: -60%;
    //     // margin-left: -5%;
    // }
    .preCode{
        width:100%
    }
    .formCadastro {
        background-color: #2e2c2c!important;
        border-color: transparent;
        width: 100%!important;
        padding-left: 10%;
        font-size: 130%!important;
        font-family: 'Rubik', sans-serif!important;
        border-radius: 10px!important;
        color: white;
    }

    .formCadastro::placeholder {
        color: #69696c;
    }
    
    .formCadastro:focus {
        outline-color: transparent!important;
        border-color: transparent!important;
        box-shadow: none!important;
    }
    
    .textTitular {
        color: white;
        position: absolute;
        width: 100%;
        margin-top: -34%;
        margin-left: 11px;
    }
    
    .textValidade {
        color: white;
        position: absolute;
        width: 100%;
        margin-top: -34%;
        margin-left: 67%;
    }
    
    .textNumero {
        color: white;
        position: absolute;
        width: 100%;
        font-size: 16px;
        margin-top: -49%;
        margin-left: 15%;
    }

    .textCodigo {
        margin-top: -54%;
        margin-left: 70%;
        font-size: 12px;
        position: absolute;
    }

    .content-ios .textNumero {
        margin-top: -38% !important;
        margin-left: 24%;
    }
    
    .content-ios .textTitular {
        margin-top: -19% !important;
        margin-left: 14px;
    }

    .content-ios .textValidade {
        margin-top: -19% !important;
    }
    
    .formTitular {
        background-color: #2e2c2c!important;
        border-color: transparent;
        width: 100%!important;
        padding-left: 10%;
        font-size: 130%!important;
        font-family: 'Rubik', sans-serif!important;
        border-radius: 10px!important;
        margin-right: -30%;
        color: white;
    }

    .formTitular::placeholder {
        color: #69696c;
    }
    
    .formValidade {
        background-color: #2e2c2c!important;
        border-color: transparent;
        width: 100%!important;
        padding-left: 10%;
        font-size: 130%!important;
        font-family: 'Rubik', sans-serif!important;
        border-radius: 10px!important;
        color: white;
    }

    .formValidade::placeholder {
        color: #69696c;
    }
    
    .formTitular:focus {
        outline-color: transparent!important;
        border-color: transparent!important;
        box-shadow: none!important;
    }
    
    .formValidade:focus {
        outline-color: transparent!important;
        border-color: transparent!important;
        box-shadow: none!important;
    }
    
    .aldrich {
        font-family: 'Aldrich', sans-serif;
    }
    
    .btn-orange {
        background-color: #ff7700;
        color: white;
        width: 60%;
        margin-left: 20%;
        border-radius: 90px;
        margin-top: 7%;
        padding: 4%;
        font-family: 'Rubik', sans-serif;
    }

    .label {
        color: white;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        margin-bottom: 1%;
    }

    .labelCode {
        margin-top: 10%;
        color: white;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        margin-bottom: 1%;
    }

    .content-md .label {
        font-size: 13px;
    }

    .content-md .labelCode {
        font-size: 13px;
    }

    .toolbar-ios .miniCards {
        margin-top: -8%;
    }

    .hiddenBtn {
        position: absolute!important;
        margin-left: 16%!important;
        margin-top: 7%!important;
    
    }

    .content-ios ion-segment-button {
        height: 83%!important;
    }

    .frontAgain {
        
        position: absolute;
        margin-top: -8%;
        color: #ff7700;
        font-size: 16px;
    }

    .errorMsg {
        color: indianred;
        margin-top: 6px;
        display: none;
    }

    .formCodigo {
        background-color: #2e2c2c!important;
        border-color: transparent;
        width: 100%!important;
        padding-left: 10%;
        font-size: 130%!important;
        font-family: 'Rubik', sans-serif!important;
        border-radius: 10px!important;
        color: white;
    }

    .formCodigo:focus {
        outline-color: transparent!important;
        border-color: transparent!important;
        box-shadow: none!important;
    }

    .formCodigo::placeholder {
        color: #69696c;
    }
}

