<!--
  Generated template for the CadastrarCartaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastrar Cartão</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="background">
<div class='conteudo'>
  <ion-row>
    <img class="frontCard imgCenter" src="assets/imgs/cartao-nulo.PNG">
  </ion-row>
      <!-- Imagens -->
       <div [ngSwitch]="pet" class="upNull">
          <ion-list *ngIf="cardNumber.startsWith(4)">
              <ion-thumbnail item-start>
                <img class="frontCard" src="assets/imgs/cartao-visa.png">
                <img class="backCard" src="assets/imgs/visa-back.PNG">
              </ion-thumbnail>
          </ion-list>
      
          <ion-list *ngIf="cardNumber.startsWith(50) || cardNumber.startsWith(51) || cardNumber.startsWith(52) || cardNumber.startsWith(53) || cardNumber.startsWith(54) || cardNumber.startsWith(55)">
              <ion-thumbnail item-start>
                <img class="frontCard" src="assets/imgs/cartao-mastercard.png">
                <img class="backCard" src="assets/imgs/master-back.PNG">
              </ion-thumbnail>
          </ion-list>

          <ion-list *ngIf="cardNumber.startsWith(3)">
              <ion-thumbnail item-start>
                <img class="frontCard" src="assets/imgs/cartao-diners.png">
                <img class="backCard" src="assets/imgs/diners-back.PNG">
              </ion-thumbnail>
          </ion-list>

          <ion-list *ngIf="cardNumber.startsWith(6)">
              <ion-thumbnail item-start>
                <img class="frontCard" src="assets/imgs/cartao-elo.png">
                <img class="backCard" src="assets/imgs/elo-back.PNG">
              </ion-thumbnail>
          </ion-list>
        </div> 
<ion-row>
        <div class="preCode" *ngIf="teste === false">
          
          <!-- Formulário -->
          <p class="textTitular aldrich">{{titular}}</p>
          <p class="textValidade aldrich">{{validade}}</p>
          <p class="textNumero aldrich">{{cardNumber}}</p>
          
          <!-- Input de NUMERO -->
          <div>
            <p class="label">Número do cartão</p>
            <input (blur)="blurCartaoInvalido()" [(ngModel)] = "cardNumber" type="tel" autocomplete="off" placeholder="1234 5678 9876 5432" [textMask]="{mask: masks.cardNumber}" class="formCadastro form-control input-sm"/>
          </div>
          <p class="errorMsg numeroCartao">Preencha o campo Número do Cartão</p>
          <p class="errorMsg numeroCartaoInvalido">Número do Cartão inválido</p>
          
            <!-- Input de TITULAR -->
            <div>
              <p class="label">Nome do Titular</p>
              <input [(ngModel)] = "titular" type="text" autocomplete="off" placeholder="JOAO P SILVA" class="formTitular form-control input-sm"/>
            </div>
            <p class="errorMsg nomeTitular">Preencha o campo de Titular</p>

            <!-- Input de VALIDADE -->
            <!-- <div>
              <p class="label">Validade</p>
              <ion-item class="reset">
                <input placeholder="12/21" displayFormat="MM/YY" type="month" min="2000" max="2099"[(ngModel)] = "validade" class="formValidade form-control input-sm"/>
              </ion-item>
            </div> -->
            <div>
              <p class="label">Validade</p>
              <input [(ngModel)] = "validade" type="tel" placeholder="12/20" [textMask]="{mask: masks.cardExpiry}" class="formValidade form-control input-sm"/>
            </div>
            <p class="errorMsg dataValidade">Preencha o campo de Data de Validade</p>

            <!-- Botão Entrar -->
          <button (click)="hideInput()" class="btn btn-orange" *ngIf="cardNumber !== '' && titular !== '' && validade !== ''">P R Ó X I M A</button>
          <button class="btn btn-orange" *ngIf="cardNumber === '' || titular === '' || validade === ''" disabled>P R Ó X I M A</button>
          </div>

          <div *ngIf="showCode" class="cardCodeView">
            <p class="textCodigo aldrich">{{codigo}}</p>
            <!-- Input de Código -->
            <div>
              <p (click)="frontAgain()" class="frontAgain">&lt;&lt; Voltar</p>
              <p class="labelCode">Código de Segurança</p>
              <input [(ngModel)]= "codigo" type="tel" autocomplete="off" placeholder="Informe o código" [textMask]="{mask: masks.orderCode}" class="formCodigo form-control input-sm"/>
            </div>
            <p class="errorMsg codigoSeguranca">Preencha o campo de Código de Segurança</p>
            <button (click)="doAlert()" class="btn btn-orange hiddenBtn" *ngIf="codigo !== ''">F I N A L I Z A R</button>
            <button class="btn btn-orange hiddenBtn" *ngIf="codigo === ''" disabled>F I N A L I Z A R</button>
          </div>
        </ion-row>  
</div>          
</ion-content>

